table.imageSlidesTable
{
	border:5px solid black;
	margin: auto;
}


div.MainDivTag
{
	border-style: dashed;
	margin-left:50px; 
    margin-right:50px;
    background-color: white;
}


body
{
	background-color: #FFE4E1;
}


#MenuForCategories
{
	text-align: center;
}

#bottomTable
{
	margin-left:auto; 
    margin-right:auto;
	border: 3px solid black;

}


#bulletPoints
{

}

#MainMenuHeader
{
	color:purple;
	
}