body {
    margin: 0;
    background-color: rgb(228, 228, 228);
}

#maindiv {
    background-color: white;
    border: solid rgba(0, 195, 255, 0.781) 3px;
    margin:auto;
    width: 80%;
    margin-top: 5%;
    padding: 3%;
}

#mapid {
    height: 500px;
    width: 75%;
    margin: auto;
    margin-top:3vh;
    border-radius: 5px;
    border: solid rgba(0, 195, 255, 0.781) 3px;
}